.section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 55%;
}

.subsection {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 38% 24% 38%;
}

.pokemon_sprite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.pokemon_sprite img {
    height: 65%;
}

.pokemon_card {
    background: linear-gradient(190deg, #89ffef, #2dceff);
    height: 100%;
}

.pokemon_name {
    text-transform: capitalize;
    font-size: 18px;
}

.pokemon_name, .description {
    color: white;
}

.description {
  text-align: justify;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description p {
  width: 90%;
}

.pokemon_types {
  gap: 2%;
}

.pokemon_types img {
  width: 47%;
}

.cry {
    border-radius: 10px; 
    width: 3em;
    height: 2em;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--medium-blue); 
    cursor: pointer; 
    border: none;
    border-bottom: 3px solid var(--dark-blue);
    color: white;
    font-size: 95%;
    font-weight: 600;
}

.cry:active {
    height: 1.9em;
    border-bottom: none;
    transform: translateY(1px);
}


.prev_button:active {
    border-bottom: none;
    transform: translateY(1px);
    height: 77%;
    aspect-ratio: 1.2 / 1;
}

.next_button:active {
    border-bottom: none;
    transform: translateY(1px);
    height: 77%;
    aspect-ratio: 1.2 / 1;
}

.prevnext_container .next_button img:active {
    height: 68%;
}

.rotate img {
    transform: rotate(180deg);
    margin-top: 16%;
}

.white_container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue_container {
    background-color: var(--dark-blue);
  }

  .blue_container p, .height_and_weight p, .cry {
    
  }

  .height_and_weight {
    background-color: var(--dark-gray);
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red_container {
    background-color: var(--pokeball-red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .red_container p {
    font-size: 20px;
    font-weight: 600;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    background: var(--dark-blue);
    outline: none;
    border: none;
    gap: 2%;
}

.form input {
  width: 40%;
}

button:active {
    transform: translateY(2px);
    border-bottom: none;
    height: 79%;
    aspect-ratio: 1.2 / 1;
}

.input_search {
    height: 75%;
    width: 30%;
    border: none;
    border-bottom: 2px solid var(--dark-gray);
    border-radius: 100px;
    font-size: 100%;
}

.input_search::placeholder {
    text-align: center;
}

.input_search:focus {
    outline: none;
    background-color: var(--pale-blue);
}

@media (max-width: 760px) and (orientation: landscape) {
  .section {
    height: 50%;
  }

  .description {
    height: 35%;
  }

  .description p {
    font-size: 18px;
  }

  .cry {
    width: 58px;
    height: 45px;
    font-size: 20px;
  }

  .cry:active {
      height: 43px;
  }
}