
  .list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('../assets/background.svg');
  }
  
  .listItem {
    display: flex;
    align-items: center;
    background-color: var(--pokeball-red);
    color: white;
    border-bottom: 3px solid var(--border-red); 
    border-radius: 5px;
    margin-top: 30px;
    height: 50px;
    width: 290px;
    text-transform: capitalize;
    box-shadow: 3px 3px 8px rgba(56, 56, 56, 0.5);
    transform: skewX(15deg);
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
  }

  .skew {
    border-radius: 5px;
    background-color: var(--pokeball-red);
    height: 42px;
    width: 130px;
    bottom: 50%;
    right: 60%;
    position: absolute;
  }
  
  .listItem img {
    height: 85px;
    transform: skewX(-15deg);
    margin-bottom: 38px;
  }
  
  .pokemon_number {
    background-color: black;
    left: 114px;
    bottom: 42px;
    width: 50px;
    position: absolute;
  }

  .pokemon_number p {
    text-align: right;
    margin-right: 5px;
    transform: skewX(-15deg);
  }

  .pokemon_name {
    transform: skewX(-15deg);
  }

  .list_loading {
    background-color: var(--pale-blue);
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  