:root {
    --medium-blue: #1c8ff8;
    --clear-blue: #59d0ff;
}

.button {
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    align-items: center; 
    justify-content: center; 
    background-color: var(--medium-blue); 
    cursor: pointer; 
    border: 1px solid var(--clear-blue);
    outline: 3px solid white;
    box-shadow: 1px 10px solid black;
    margin-right: 10px;
}

.rotate {
    transform: rotate(180deg);
}
