:root {
    --medium-blue: #1c8ff8;
    --clear-blue: #59d0ff;
}

.button {
    border-radius: 50%; 
    width: 41px;
    height: 41px;
    align-items: center; 
    justify-content: center; 
    background-color: var(--medium-blue); 
    border: none; 
    cursor: pointer; 
    border: 1px solid var(--clear-blue);
    outline: 4px solid white;
    box-shadow: 1px 10px solid black;
}

.rotate {
    transform: rotate(180deg);
}
