.region_container {
    background-color: aquamarine;
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Alinha os itens em uma coluna (vertical) */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    height: 100vh; /* Define a altura para preencher a tela */
}